# Módulo 07, Tarefa 01

Vamos começar a mexer na nossa base de projeto? Já fizemos um exercício de montar a variável resposta, já pudemos perceber que essa atividade pode não ser trivial. Vamos agora trabalhar a base para que fique propícia ao *scikitlearn* para trabalharmos.

Lembrando, a base se chama demo01.csv, e originalmente está publicada [aqui](https://www.kaggle.com/rikdifos/credit-card-approval-prediction).

In [1]:
import pandas as pd
import numpy as np

#### 1) Carregue a base e avalie:

- As variáveis
- Tipos de dados de cada variável
- Quantidade de missings
- Distribuição da variável resposta (mau)

In [2]:
df = pd.read_csv('application_record.csv')

In [3]:
mau = pd.read_csv('credit_record.csv')

In [ ]:
print(df.shape)
print(mau.shape)

In [13]:
df.head(2)

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
2,5008806,0,1,1,0,112500.0,0,0,0,-21474,-1134,1,0,0,0,Security staff,2
3,5008808,1,0,1,0,270000.0,1,0,1,-19110,-3051,1,0,1,1,Sales staff,1

**LIMPEZA**

In [ ]:
#================= MISSINGS==============
print(mau.isna().sum())

In [ ]:
display(df.isna().sum())

In [4]:
df.dropna(axis=0,inplace=True,how='any')

In [5]:
#============= COLUNAS DESNECESSÁRIAS E COM MISSINGS=====================

df.drop(columns=['NAME_HOUSING_TYPE'],inplace=True)

**IDENTIFICANDO ID DUPLICADOS**

In [6]:
print(df.ID.duplicated().sum())
print(mau.duplicated(subset=['ID']).sum())

23
1002590

In [ ]:
#========== LIMPEZA DE IDs DUPLICADOS===================

In [7]:
df.drop_duplicates(subset='ID',inplace=True)
mau.drop_duplicates(subset='ID',inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 304331 entries, 2 to 438556
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ID                   304331 non-null  int64
 1   CODE_GENDER          304331 non-null  object
 2   FLAG_OWN_CAR         304331 non-null  object
 3   FLAG_OWN_REALTY      304331 non-null  object
 4   CNT_CHILDREN         304331 non-null  int64
 5   AMT_INCOME_TOTAL     304331 non-null  float64
 6   NAME_INCOME_TYPE     304331 non-null  object
 7   NAME_EDUCATION_TYPE  304331 non-null  object
 8   NAME_FAMILY_STATUS   304331 non-null  object
 9   DAYS_BIRTH           304331 non-null  int64
 10  DAYS_EMPLOYED        304331 non-null  int64
 11  FLAG_MOBIL           304331 non-null  int64
 12  FLAG_WORK_PHONE      304331 non-null  int64
 13  FLAG_PHONE           304331 non-null  int64
 14  FLAG_EMAIL           304331 non-null  int64
 15  OCCUPATION_TYPE      304331 non-null  object
 16  CNT_FAM_MEMBERS      304331 non-null  float64
dtypes: float64(2), int64(8), object(7)
memory usage: 41.8+ MB

In [9]:
mau.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45985 entries, 0 to 1048545
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              45985 non-null  int64
 1   MONTHS_BALANCE  45985 non-null  int64
 2   STATUS          45985 non-null  object
dtypes: int64(2), object(1)
memory usage: 1.4+ MB

**CATEGORIZANDO VARIÁVEIS**

In [10]:
df.CODE_GENDER = df.CODE_GENDER.map({'M':0, 'F':1})
df.FLAG_OWN_CAR = df.FLAG_OWN_CAR.map({'N':0, 'Y':1})
df.FLAG_OWN_REALTY = df.FLAG_OWN_REALTY.map({'N':0, 'Y':1})

In [11]:
civil = ['Married','Single / not married','Civil marriage','Separated','Widow']
n=0
for item in civil:
  df.loc[df.NAME_FAMILY_STATUS == item,'NAME_FAMILY_STATUS']=n
  n+=1

study = ['Secondary / secondary special','Higher education','Incomplete higher','Lower secondary','Academic degree']
n=0
for item in study:
  df.loc[df.NAME_EDUCATION_TYPE == item,'NAME_EDUCATION_TYPE']=n
  n+=1

work = ['Working','Commercial associate','Pensioner','State servant', 'Student']
n=0
for item in work:
  df.loc[df.NAME_INCOME_TYPE == item,'NAME_INCOME_TYPE']=n
  n+=1

**TIPOS DE DADOS**

In [12]:
#==================== CONVERSÃO DE COLUNAS=======================
df['CNT_FAM_MEMBERS'] = df['CNT_FAM_MEMBERS'].astype(int)
df['CODE_GENDER'] = df['CODE_GENDER'].astype(int)
df['FLAG_OWN_CAR'] = df['FLAG_OWN_CAR'].astype(int)
df['FLAG_OWN_REALTY'] = df['FLAG_OWN_REALTY'].astype(int)
df['NAME_INCOME_TYPE'] = df['NAME_INCOME_TYPE'].astype(int)
df['NAME_EDUCATION_TYPE'] = df['NAME_EDUCATION_TYPE'].astype(int)
df['NAME_FAMILY_STATUS'] = df['NAME_FAMILY_STATUS'].astype(int)

**UNINDO AS TABELAS df E mau**

In [14]:
df1 = df.merge(mau,on='ID',how='left')

**LIMPEZA DO NOVO DATAFRAME**

In [17]:
df1.isna().sum()

ID                     0
CODE_GENDER            0
FLAG_OWN_CAR           0
FLAG_OWN_REALTY        0
CNT_CHILDREN           0
AMT_INCOME_TOTAL       0
NAME_INCOME_TYPE       0
NAME_EDUCATION_TYPE    0
NAME_FAMILY_STATUS     0
DAYS_BIRTH             0
DAYS_EMPLOYED          0
FLAG_MOBIL             0
FLAG_WORK_PHONE        0
FLAG_PHONE             0
FLAG_EMAIL             0
OCCUPATION_TYPE        0
CNT_FAM_MEMBERS        0
STATUS                 0
dtype: int64

In [16]:
df1.dropna(how='any',inplace=True)
df1.drop(columns=['MONTHS_BALANCE'],inplace=True)

**CONVERTENDO VALORES DA COLUNA STATUS**

In [18]:
df1.STATUS.value_counts()

C    12319
X     6699
0     5835
1      203
5       59
2       12
4        4
3        3
Name: STATUS, dtype: int64

In [19]:
df1.loc[df1.STATUS == 'C','STATUS']=7
df1.loc[df1.STATUS == 'X','STATUS']=6

In [21]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25134 entries, 0 to 301702
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   25134 non-null  int64
 1   CODE_GENDER          25134 non-null  int32
 2   FLAG_OWN_CAR         25134 non-null  int32
 3   FLAG_OWN_REALTY      25134 non-null  int32
 4   CNT_CHILDREN         25134 non-null  int64
 5   AMT_INCOME_TOTAL     25134 non-null  float64
 6   NAME_INCOME_TYPE     25134 non-null  int32
 7   NAME_EDUCATION_TYPE  25134 non-null  int32
 8   NAME_FAMILY_STATUS   25134 non-null  int32
 9   DAYS_BIRTH           25134 non-null  int64
 10  DAYS_EMPLOYED        25134 non-null  int64
 11  FLAG_MOBIL           25134 non-null  int64
 12  FLAG_WORK_PHONE      25134 non-null  int64
 13  FLAG_PHONE           25134 non-null  int64
 14  FLAG_EMAIL           25134 non-null  int64
 15  OCCUPATION_TYPE      25134 non-null  object
 16  CNT_FAM_MEMBERS      25134 non-null  int32
 17  STATUS               25134 non-null  int32
dtypes: float64(1), int32(8), int64(8), object(1)
memory usage: 2.9+ MB

In [20]:
df1.STATUS = df1.STATUS.astype(int)

#### 4) Qual variável é mais poderosa?

Considere as variáveis ```possui_email``` e ```posse_de_veiculo```. Faça uma tabela cruzada entre elas e responda qual delas te parece mais poderosa para prever a probabilidade de ```mau = 1```?

In [22]:
previsao = pd.crosstab(df1.FLAG_EMAIL, df1.FLAG_OWN_CAR)

In [23]:
previsao

FLAG_OWN_CAR      0     1
FLAG_EMAIL
0             13148  9456
1              1470  1060

In [24]:
perc = previsao.div(previsao.sum(axis=1),axis=0)

In [25]:
perc

FLAG_OWN_CAR         0         1
FLAG_EMAIL
0             0.581667  0.418333
1             0.581028  0.418972

#### 5) Salve a base, pois ela será utilizada no final deste módulo.

In [28]:
df1.to_csv('dados_limpos.csv')