# Tarefa 02

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [1]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [ ]:
# 1) (operações com escalar) Calcule o percentual de acerto dos alunos por assunto. 
def percentual(frame:pd.DataFrame, questoes:int):
  perc = round((frame['Qt_acertos']/questoes)*100,1)
  return perc

print(percentual(df_mat,24))
print(percentual(df_qui,12))
print(percentual(df_fis,12))
print(percentual(df_por,18))
print(percentual(df_geo,8))
print(percentual(df_his,8))
print(percentual(df_ing,8))

In [ ]:
# 2) (operações entre *DataFrames) Calcule o total de acertos de cada aluno. 
#df_mat.drop('Porcentagem',axis=1, inplace=True)
display(df_mat+df_fis+df_his+df_geo+df_ing+df_por)

In [ ]:
# 3) Calcule o porcentual geral de cada aluno. 
total = (df_mat+df_fis+df_his+df_geo+df_ing+df_por)
tudo,_ = total.shape
percentual_total = total/tudo
round(percentual_total*100,2)

In [30]:
# 4) Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45? 
(total >= 45).sum()

Qt_acertos    16
dtype: int64

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [31]:
# Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. 
#Monte um novo DataFrame com os alunos desqualificados por este critério.
df_fis_desq= df_fis.loc[df_fis['Qt_acertos']<1]
df_qui_desq = df_qui.loc[df_qui['Qt_acertos']<1]
df_mat_desq = df_mat.loc[df_mat['Qt_acertos']<1]

In [ ]:
df_fis_desq['num_aluno'] = df_fis_desq.index
df_fis_desq.reset_index(drop=True, inplace=True)
df_qui_desq['num_aluno'] = df_qui_desq.index
df_qui_desq.reset_index(drop=True, inplace=True)
df_mat_desq['num_aluno'] = df_mat_desq.index
df_mat_desq.reset_index(drop=True, inplace=True)

In [33]:
desqualificados = pd.DataFrame()
desqualificados.insert(0,'Fisica',df_fis_desq['num_aluno'])
desqualificados.insert(1,'Quimica',df_qui_desq['num_aluno'])
desqualificados.insert(2,'Matematica',df_mat_desq['num_aluno'])

In [ ]:
desqualificados

In [35]:
 # Quantos são esses alunos?
desqualificados.count().sum()

24

In [36]:
#Qual a média desses alunos em história e geografia?
df_geo
df_his
df_fis_desq= df_fis.loc[df_fis['Qt_acertos']<1]
df_qui_desq = df_qui.loc[df_qui['Qt_acertos']<1]
df_mat_desq = df_mat.loc[df_mat['Qt_acertos']<1]

In [37]:
df_geo['Qt_acertos'].mean()

3.36

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?

In [ ]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/drive')
arquivo = '/content/drive/MyDrive/Colab Notebooks/Covid-Acre.csv'

In [ ]:
# 1) Sua solução aqui
df_acre = pd.read_csv(arquivo, sep=';')

In [ ]:
df_acre.head(20)

##===============================================================

In [ ]:
# 1)Quantas vacinas estão registradas nessa base?  
df_acre['vacina_codigo'].value_counts()

##====================================================================

In [12]:
# 2) Quantos pacientes foram vacinados? (considere um paciente para cada valor único de paciente_id) 
pacientes = df_acre['paciente_id'].drop_duplicates()
pacientes.count()

318543

In [13]:
# 3) Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. 
      #Receba os valores do campo com o método .unique(). 
uma_dose = df_acre['vacina_descricao_dose'].unique()

In [14]:
primeira = df_acre['vacina_descricao_dose'] == uma_dose[1]
df_acre['vacina_descricao_dose'][primeira==False].count()

189707

In [23]:
# Quantos pacientes com menos de 18 anos foram vacinados?  
df_acre['paciente_idade'].loc[df_acre['paciente_idade']<18].count()

43774

In [16]:
# Quantos estabelecimentos aplicaram vacina no Acre?
df_acre['estabelecimento_valor'].drop_duplicates().count()

131

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [39]:
# 1) crie uma cópia do DataFrame original, contendo somente os registros de vacinas realizadas a menores de 18 anos. 
df_acre_18 = (df_acre.loc[df_acre['paciente_idade']<18])

In [44]:
df_acre_18.rename(columns={'estalecimento_noFantasia':'estabelecimento_noFantasia'},inplace=True)
df_acre_18.head(1)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

                                  document_id  ... sistema_origem
15  7853b550-06c2-44db-a07b-386c41a3d687-i0b0  ...       Novo PNI

[1 rows x 32 columns]

In [ ]:
# 2) crie uma lista das colunas desse DataFrame com o atributo de DataFrame .columns()
colunas = df_acre_18.columns
colunas

In [ ]:
# 3)Nesse DataFrame faça uma contagem do campo vacina_categoria_nome.
df_acre_18['vacina_categoria_nome'].count()

In [54]:
# 4)a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores. 
lista_estabelecimento = []
for item in colunas:
  if item.__contains__('estab'):
    lista_estabelecimento.append(item)

In [ ]:
lista_estabelecimento

In [72]:
# 5)usando o método .loc, selecione somente essas variáveis 
df_acre_18.loc[[],lista_estabelecimento]

Empty DataFrame
Columns: [estabelecimento_valor, estabelecimento_razaoSocial, estabelecimento_noFantasia, estabelecimento_municipio_codigo, estabelecimento_municipio_nome, estabelecimento_uf]
Index: []

In [ ]:
# 6) Aplique o método .drop_duplicates e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento