# Módulo 5 Tarefa 1
## Base de nascidos vivos do DataSUS
O DataSUS disponibiliza diversos arquivos de dados com relação a seus segurados, conforme a [lei da transparência de informações públicas](https://www.sisgov.com/transparencia-acesso-informacao/#:~:text=A%20Lei%20da%20Transpar%C3%AAncia%20(LC,em%20um%20site%20na%20internet.). 

Essas informações podem ser obtidas pela internet [aqui](http://www2.datasus.gov.br/DATASUS/index.php?area=0901&item=1). Como o processo de obtenção desses arquivos foge um pouco do nosso escopo, deixamos o arquivo ```SINASC_RO_2019.csv``` já como vai ser encontrado no DataSUS. O dicionário de dados está no arquivo ```estrutura_sinasc_para_CD.pdf``` (o nome do arquivo tal qual no portal do DataSUS).

### Nosso objetivo
Queremos deixar uma base organizada para podermos estudar a relação entre partos com risco para o bebê e algumas condições como tempo de parto, consultas de pré-natal etc.

#### Preparação da base
1. Carregue a base 'SINASC_RO_2019.csv'. Conte o número de registros e o número de registros não duplicados da base. Dica: você aprendeu um método que remove duplicados, encadeie este método com um outro método que conta o número de linhas. **Há linhas duplicadas?**  

2. Conte o número de valores *missing* por variável.  

3. Ok, no item anterior você deve ter achado pouco prático ler a informação de tantas variáveis, muitas delas nem devem ser interesantes. Então crie uma seleção dessa base somente com as colunas que interessam. São elas:
``` 
['LOCNASC', 'IDADEMAE', 'ESTCIVMAE', 'ESCMAE', 'QTDFILVIVO', 
    'GESTACAO', 'GRAVIDEZ', 'CONSULTAS', 'APGAR5'] 
```
Refaça a contagem de valores *missings*.  

4. Apgar é uma *nota* que o pediatra dá ao bebê quando nasce de acordo com algumas características associadas principalmente à respiração. Apgar 1 e Apgar 5 são as notas 1 e 5 minutos do nascimento. Apgar5 será a nossa variável de interesse principal. Então remova todos os registros com Apgar5 não preenchido. Para esta seleção, conte novamente o número de linhas e o número de *missings*.  

5. observe que as variáveis ```['ESTCIVMAE', 'CONSULTAS']``` possuem o código ```9```, que significa *ignorado*. Vamos assumir que o não preenchido é o mesmo que o código ```9```.<br>
6. Substitua os valores faltantes da quantitativa (```QTDFILVIVO```) por zero.  
7. Das restantes, decida que valore te parece mais adequado (um 'não preenchido' ou um valor 'mais provável' como no item anterior) e preencha. Justifique. Lembre-se de que tratamento de dados é trabalho do cientista, e que estamos tomando decisões a todo o momento - não há necessariamente certo e errado aqui.  
8. O Apgar possui uma classificação indicando se o bebê passou por asfixia:
- Entre 8 e 10 está em uma faixa 'normal'. 
- Entre 6 e 7, significa que o recém-nascido passou por 'asfixia leve'. 
- Entre 4 e 5 significa 'asfixia moderada'.
- Entre 0 e 3 significa 'asfixia severa'.  

Crie uma categorização dessa variável com essa codificação e calcule as frequências dessa categorização.  
<br>
9. Renomeie as variáveis para que fiquem no *snake case*, ou seja, em letras minúsculas, com um *underscore* entre as palávras. Dica: repare que se você não quiser criar um *dataframe* novo, você vai precisar usar a opção ```inplace = True```.

In [55]:
import pandas as pd
import requests

#1) -
df = pd.read_csv('SINASC_RO_2019.csv', usecols=['LOCNASC','IDADEMAE', 'ESTCIVMAE', 'ESCMAE', 'QTDFILVIVO','GESTACAO', 
                                                'GRAVIDEZ', 'CONSULTAS', 'APGAR5'])
print(df.shape)
df.drop_duplicates(inplace=True)
# Não há duplicados
print(df.shape)

(27028, 9)
(10058, 9)

In [56]:
df.isna().sum()

LOCNASC          0
IDADEMAE         0
ESTCIVMAE      275
ESCMAE         295
QTDFILVIVO     929
GESTACAO      1034
GRAVIDEZ        79
CONSULTAS        0
APGAR5         102
dtype: int64

In [57]:
df.dropna(subset=['APGAR5'],inplace=True)
df

,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,QTDFILVIVO,GESTACAO,GRAVIDEZ,CONSULTAS,APGAR5
0,1,19,5.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0
1,1,29,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,9.0
2,1,37,9.0,8 a 11 anos,2.0,37 a 41 semanas,Única,4,10.0
3,1,30,5.0,12 anos ou mais,0.0,37 a 41 semanas,Única,3,10.0
4,1,30,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,10.0
...,...,...,...,...,...,...,...,...,...
26987,1,30,1.0,12 anos ou mais,NaN,22 a 27 semanas,Única,3,8.0
26999,1,35,2.0,12 anos ou mais,0.0,37 a 41 semanas,Dupla,4,9.0
27014,1,25,2.0,8 a 11 anos,1.0,37 a 41 semanas,Dupla,4,9.0
27015,1,25,2.0,8 a 11 anos,1.0,37 a 41 semanas,Dupla,4,10.0
27019,1,34,2.0,8 a 11 anos,2.0,32 a 36 semanas,Dupla,4,9.0

In [58]:
df.isna().sum()

LOCNASC          0
IDADEMAE         0
ESTCIVMAE      273
ESCMAE         293
QTDFILVIVO     922
GESTACAO      1018
GRAVIDEZ        76
CONSULTAS        0
APGAR5           0
dtype: int64

In [59]:
# 2) seu código aqui
df['QTDFILVIVO'].fillna(0,inplace=True)

## Tratando valores faltantes

In [60]:
# 3) seu código aqui
df1 = df['GESTACAO'].isna()
df[df1==True]

,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,QTDFILVIVO,GESTACAO,GRAVIDEZ,CONSULTAS,APGAR5
1695,1,27,1.0,8 a 11 anos,1.0,NaN,Única,3,9.0
2201,1,26,1.0,8 a 11 anos,1.0,NaN,Única,1,8.0
2359,1,28,2.0,4 a 7 anos,2.0,NaN,Única,4,9.0
2361,1,33,1.0,4 a 7 anos,4.0,NaN,Única,4,9.0
2362,1,15,1.0,4 a 7 anos,1.0,NaN,Única,4,9.0
...,...,...,...,...,...,...,...,...,...
26592,1,26,1.0,8 a 11 anos,0.0,NaN,Única,3,10.0
26606,3,19,4.0,8 a 11 anos,0.0,NaN,Única,4,10.0
26782,1,19,5.0,8 a 11 anos,1.0,NaN,Única,4,10.0
26786,3,24,5.0,4 a 7 anos,1.0,NaN,Única,4,8.0
26788,1,21,5.0,4 a 7 anos,0.0,NaN,Única,4,10.0

In [61]:
df['GESTACAO'].fillna('não informado',inplace=True)

In [62]:
df.head()

,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,QTDFILVIVO,GESTACAO,GRAVIDEZ,CONSULTAS,APGAR5
0,1,19,5.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0
1,1,29,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,9.0
2,1,37,9.0,8 a 11 anos,2.0,37 a 41 semanas,Única,4,10.0
3,1,30,5.0,12 anos ou mais,0.0,37 a 41 semanas,Única,3,10.0
4,1,30,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,10.0

In [63]:
df.dropna(subset=['GESTACAO','GRAVIDEZ'],inplace=True)

In [64]:
df.isna().sum()

LOCNASC         0
IDADEMAE        0
ESTCIVMAE     271
ESCMAE        292
QTDFILVIVO      0
GESTACAO        0
GRAVIDEZ        0
CONSULTAS       0
APGAR5          0
dtype: int64

In [73]:
df['ESTCIVMAE'].fillna(9.0,inplace=True)

In [75]:
df.isna().sum()

LOCNASC         0
IDADEMAE        0
ESTCIVMAE       0
ESCMAE          0
QTDFILVIVO      0
GESTACAO        0
GRAVIDEZ        0
CONSULTAS       0
APGAR5          0
TIPO_ASFIXIA    0
dtype: int64

In [74]:
df['ESCMAE'].fillna('não informado',inplace=True)

**O Apgar possui uma classificação indicando se o bebê passou por asfixia:**

    Entre 8 e 10 está em uma faixa 'normal'.
    Entre 6 e 7, significa que o recém-nascido passou por 'asfixia leve'.
    Entre 4 e 5 significa 'asfixia moderada'.
    Entre 0 e 3 significa 'asfixia severa'.

**Crie uma categorização dessa variável com essa codificação e calcule as frequências dessa categorização***

In [69]:
df.loc[(df['APGAR5']>=8) & (df['APGAR5']<= 10),'TIPO_ASFIXIA']='normal'
df.loc[(df['APGAR5']>=6) & (df['APGAR5']<= 7),'TIPO_ASFIXIA']='asfixia leve'
df.loc[(df['APGAR5']>=4) & (df['APGAR5']<= 5),'TIPO_ASFIXIA']='asfixia moderada'
df.loc[(df['APGAR5']>=0) & (df['APGAR5']<= 3),'TIPO_ASFIXIA']='asfixia severa'

In [93]:
df.columns = map(str.lower, df.columns)
df.head(2)

,loc_nasc,idade_mae,est_civ_mae,esc_mae,qtd_fil_vivo,gestacao,gravidez,consultas,apgar5,tipo_asfixia
0,1,19,5.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0,normal
1,1,29,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,9.0,normal

In [92]:
df.columns = ['loc_nasc','idade_mae','est_civ_mae','esc_mae','qtd_fil_vivo','gestacao','gravidez','consultas','apgar5','tipo_asfixia']
df

,loc_nasc,idade_mae,est_civ_mae,esc_mae,qtd_fil_vivo,gestacao,gravidez,consultas,apgar5,tipo_asfixia
0,1,19,5.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0,normal
1,1,29,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,9.0,normal
2,1,37,9.0,8 a 11 anos,2.0,37 a 41 semanas,Única,4,10.0,normal
3,1,30,5.0,12 anos ou mais,0.0,37 a 41 semanas,Única,3,10.0,normal
4,1,30,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,10.0,normal
...,...,...,...,...,...,...,...,...,...,...
26987,1,30,1.0,12 anos ou mais,0.0,22 a 27 semanas,Única,3,8.0,normal
26999,1,35,2.0,12 anos ou mais,0.0,37 a 41 semanas,Dupla,4,9.0,normal
27014,1,25,2.0,8 a 11 anos,1.0,37 a 41 semanas,Dupla,4,9.0,normal
27015,1,25,2.0,8 a 11 anos,1.0,37 a 41 semanas,Dupla,4,10.0,normal
27019,1,34,2.0,8 a 11 anos,2.0,32 a 36 semanas,Dupla,4,9.0,normal